<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<title>Gerência de eventos e convites</title>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- incluindo css -->
	<link href="../css/style.css" rel="stylesheet">

	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<img src="../images/logo.png" />
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/show">BASE DE DADOS</a></li>
					<li><a href="/eventos">EVENTOS</a></li>
					<li><a href="/eventos">LISTAS DE CONVIDADOS</a></li>
					<li><a href="/eventos">AGENDA PRESIDENTE</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h2>Detalhes do Evento : <%= evento["nome"] %></h2>
		<div class="row">
       		<div class="col-md-12">
    			<div class="jumbotron jumbotron-fluid">
					<div class="row">
						<label>Pesquisar</label><input type="text" id="myInput" style="max-width:200px" />
	        		</div>
				</div>
			</div>
		</div>

		<div class="row">
       		<fieldset>
		        <div class="table-responsive">
	      			<table class="table table-sm">
	           			<thead>
	                     	<th>Data</th>
	                     	<th>Hora</th>
	                     	<th>Endereço</th>
	           			</thead>
						<tbody id="mytable_body">
							<tr>
							    <td><%= evento["data"] %></td>
							    <td><%= evento["hora"] %></td>
							    <td><%= evento["endereco"] %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
		</div>
		<div class="row">

		</div>	

		<div class="row">
			<table id="mytable" class="table table-bordred table-striped" >
			  <thead>
			    <tr>
			      <th scope="col">Tratamento</th>
			      <th scope="col">Nome</th>
			      <th scope="col">Email</th>
			      <th scope="col">Cargo</th>
			      <th scope="col">Situação</th>
			      <th scope="col">Remover</th>
			    </tr>
			  </thead>
			  <tbody id="mytable_body">
			  	<% for(var i = 0; i < selecionaveis.length; i++) {%>
			    <tr>
			      <td><%= selecionaveis[i].tratamento %></td>
			      <td><%= selecionaveis[i].nome %></td>
			      <td><%= selecionaveis[i].email %></td>
			      <td><%= selecionaveis[i].cargo %></td>
			      <td><%= selecionaveis[i].situacao %></td>
			      <td>remover</td>
			    </tr>
			    <% } %>
			  </tbody>
			</table>
		</div>	
	</div>
		
	    
<!-- JQuery -->
<script src="../js/jquery-2.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="../js/table-bootsnip.js"></script>
	
</body>
</html>