<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gerência de eventos e convites</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/all.css" >
	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
	<% include ../menu.ejs%>
	<%var eventoid = evento['id']%>
	<div class="container">
		<div class="jumbotron">
		  	<div class="row">
		  		<div class="col-md-3">
		  			<h1 class="display-4"><%= evento["nome"] %></h1>
		  			<hr class="my-4">
		  			<p class="lead">Data: <%= evento["data"] %></p>
		  			<p class="lead">Hora: <%= evento["hora"] %></p>
		  			<p class="lead">Endereço: <%= evento["endereco"] %></p>
		  			<hr class="my-4">
		  		</div>
		  		<div class="col-md-9">
		  			<!--Textarea with icon prefix-->
					<div class="md-form">
			  			<i class="fa fa-pencil prefix"></i>
			  			<textarea id="<%= eventoid %>" type="text" name="obsevacoesEventos" class="md-textarea form-control" rows="15"><%=evento["observacao"]%></textarea>
			  			<label>Anotações</label>
			  			<span class="fas fa-save" style="cursor: pointer; color:red" id="<%= eventoid %>" onclick="salvarObservacaoEvento(this);"></span>
					</div>
		  		</div>		
		  	</div>
		</div>
		<div class="row">
			<span class="fas fa-search"></span>
			<input type="text" id="myInput" style="max-width:200px" />
		</div>

		<div class="row">
			<table id="mytable" class="table table-bordred table-striped" >
			  <thead>
			    <tr>
			      <th scope="col">Tratamento</th>
			      <th scope="col">Nome</th>
			      <th scope="col">Email</th>
			      <th scope="col">Cargo</th>
			      <!--th scope="col">Situação</th>-->
			      <th scope="col">Remover</th>
			    </tr>
			  </thead>
			  <tbody id="mytable_body">
			  	
			  	<% for(var i = 0; i < selecionaveis.length; i++) { var data="convidado"+i; %>
			    <tr id="<%=data%>">
			      <td><%= selecionaveis[i].tratamento %></td>
			      <td><%= selecionaveis[i].nome %></td>
			      <td><%= selecionaveis[i].email %></td>
			      <td><%= selecionaveis[i].cargo %></td>
			      <!--<td><%= selecionaveis[i].situacao %></td>-->
			      <td>
			      	<span class="fas fa-trash" style="cursor: pointer; color:red" id="<%=data%>"onclick="esconderConvidado(this,'<%=selecionaveis[i].id%>','<%= eventoid %>','<%=selecionaveis[i].tipo%>');"></span>
		    	  </td>
			    </tr>
			    <% } %>
			  </tbody>
			</table>
		</div>	
	</div>
	    
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/table-bootsnip.js"></script>
	
</body>
</html>