<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<title>Gerência de eventos e convites</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	

	<!-- incluindo css -->
	<link rel="stylesheet" href="/css/style.css" >

	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />

	

</head>

<body>

 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="/index">AMAERJ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/show">Base de Dados <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/eventos">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ajuda">Ajuda</a>
          </li>
         
        </ul>
      </div>
    </nav>

	<div class="container">
		<div class="jumbotron">
		  	<div class="row">
		  		<div class="col-md-3">
		  			<h1 class="display-4"><%= evento["nome"] %></h1>
		  			<hr class="my-4">
		  			<p class="lead">Data: <%= evento["data"] %></p>
		  			<p class="lead">Hora: <%= evento["hora"] %></p>
		  			<p class="lead">Endereço: <%= evento["endereco"] %></p>
		  			<hr class="my-4">
		  		</div>
		  		<div class="col-md-9">
		  			<!--Textarea with icon prefix-->
					<div class="md-form">
			  			<i class="fa fa-pencil prefix"></i>
			  			<textarea type="text" name="obsevacoesEventos" class="md-textarea form-control" rows="15"></textarea>
			  			<label for="form10">Anotações</label>
					</div>
		  		</div>		
		  	</div>
		</div>
		<div class="row">
       		<div class="col-md-12">
    			<div class="jumbotron jumbotron-fluid">
					<div class="row">
						<label>Pesquisar</label><input type="text" id="myInput" style="max-width:200px" />
	        		</div>
				</div>
			</div>
		</div>

		<div class="row">
			<table id="mytable" class="table table-bordred table-striped" >
			  <thead>
			    <tr>
			      <th scope="col">Tratamento</th>
			      <th scope="col">Nome</th>
			      <th scope="col">Email</th>
			      <th scope="col">Cargo</th>
			      <!--th scope="col">Situação</th>-->
			      <th scope="col">Remover</th>
			    </tr>
			  </thead>
			  <tbody id="mytable_body">
			  	<%var eventoid = evento['id']%>
			  	<% for(var i = 0; i < selecionaveis.length; i++) { var data="convidado"+i; %>
			    <tr id="<%=data%>">
			      <td><%= selecionaveis[i].tratamento %></td>
			      <td><%= selecionaveis[i].nome %></td>
			      <td><%= selecionaveis[i].email %></td>
			      <td><%= selecionaveis[i].cargo %></td>
			      <!--<td><%= selecionaveis[i].situacao %></td>-->
			      <td>
			      	<span class="glyphicon glyphicon-trash" style="cursor: pointer; color:red" id="<%=data%>"onclick="esconderConvidado(this,'<%=selecionaveis[i].id%>','<%= eventoid %>','<%=selecionaveis[i].tipo%>');"></span>
		    	  </td>
			    </tr>
			    <% } %>
			  </tbody>
			</table>
		</div>	
	</div>
	    
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
	
</body>
</html>