<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gerência de eventos e convites</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/all.css" >
	<!-- favicon -->
	<link rel="shortcut icon" href="images/logo-amaerj.jpg" /> 
</head>
<body>
	<% include ../menu.ejs%>
	<div class="container-fluid">
		<h3 class="text-primary">EVENTOS</h3>
		<%if(listagem.length > 0){%>
			<div class="row">
	    		<div class="col-md-12">
	    			<div class="jumbotron-fluid">
						<div class="row">
				        	<div class="col-md-9">
				        		<h4>Número de eventos cadastrados <%= listagem.length %></h4>
				        	</div>
				        	<div class="col-md-3">
				        		<a href="/eventos/novo" class="btn btn-primary">INSERIR NOVO +</a>
				        	</div>
		        		</div>
					</div>
			    </div>
			</div>    
			<div class="row">
	        	<span class="fas fa-search"></span>
	        	<input type="text" id="myInput" style="max-width:200px" />
			</div>
			<div class="row">
		        <div class="table-responsive p-4 mb-5">
	      			<table id="mytable" class="table table-bordred table-striped">
	           			<thead>
		                    <th>Nome</th>
	                     	<th><label for="date">Data</label></th>
	                     	<th><label for="hora">Hora</label></th>
	                     	<th>Endereço</th>
	                      	<th>Editar</th>
	                       	<th>Remover</th>
	           			</thead>
						<tbody id="mytable_body">
							<% for(var i = 0; i < listagem.length; i++) {%>
								<tr>
								    <td>
								    	<a href="/eventos/detalhes?ideventoclicado=<%=listagem[i].id%>" >
								    		<span class="btn btn-primary" style="cursor: pointer; color:white"><%=listagem[i].nome%></span>
								    	</a>
								    </td>
			              			<td><input id="date" type="date"  name ="data" value="<%= listagem[i].data %>" readonly></td>
									<td><input type="time" id="hora" name="hora" value="<%= listagem[i].hora %>" readonly></td>
								    <td><%= listagem[i].endereco %></td>
								    <td>
								    	<a href="/eventos/novo?id=<%=listagem[i].id%>">
								    		<span class="fas fa-edit" style="cursor: pointer;"></span>
								    	</a>
								    </td>
								    <td>
								    	<a href="/eventos/remover?id=<%=listagem[i].id%>" >
								    		<span class="fas fa-trash" style="cursor: pointer; color:red"></span>
								    	</a>
								    </td>
								</tr>
							<%}%>
						</tbody>
					</table>
				</div>
			</div>
		<%}else {%>
			<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h4>Nenhum evento cadastradado, clique para cadastrar</h4>
					<div class="col-md-3">
						<a href="/eventos/novo"  class="btn btn-primary">NOVO EVENTO</a>
					</div>
				</div>
			</div>
		<%}%>
	</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/table-bootsnip.js"></script>
</body>
</html>