<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gerência de eventos e convites</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/all.css" >
	<!-- favicon -->
	<link rel="shortcut icon" href="images/logo-amaerj.jpg" /> 
</head>

	<body>
		<% include ../menu.ejs%>
		<div class="container">
			<div class="row">
        		<div class="col-md-6">
              		<form action="/eventos/salvar" method="post" name="formsalvar">
              			<fieldset>
              			<!--<div class="row">-->
	              			<div class="form-group">
	    						
	              				<%if(evento.length > 0){%>
	              					<legend>Editar Evento</legend>
	              					<p>
	              					<label for="evento_nome">Nome</label>
		              				<input class="form-control form-control-lg" type="text" name ="nome" id="evento_nome" value="<%= evento[0].nome %>">
			              			</p>
			              			<p>
			              			<label for="date">Data</label>
			              			<input id="date" type="date"  name ="data" value="<%= evento[0].data %>">
			              			</p>
			              			<p>
			              			<label for="hora">Hora</label>
									<input type="time" id="hora" name="hora" value="<%= evento[0].hora %>">
									</p>
			              			
			              			<p>
			              			<label for="evento_endereco">Endereço</label>
			              			<input class="form-control form-control-lg" type="text" name ="endereco" id="evento_endereco" value="<%= evento[0].endereco %>">
			              			</p>
			              			<input type="hidden" name="id" value="<%= evento[0].id %>">
	              				<%} else{%>
	              					<legend>Novo Evento</legend>
	              					<p>
	              					<label for="evento_nome">Nome</label>
		              				<input class="form-control form-control-lg" type="text" name ="nome" id="evento_nome">
			              			</p>
			              			<p>
		              				<label for="date">Data</label>
			              			<input id="date" type="date"  name ="data">
			              			</p>
			              			<p>
			              			<label for="appt">Hora</label>
									<input type="time" id="appt" name="hora">
									</p>
			              			<p>
			              			<label for="evento_endereco">Endereço</label>
			              			</p>
			              			<input class="form-control form-control-lg" type="text" name ="endereco" id="evento_endereco">
	              				<%}%>
		              			<br>
							</div>
						</fieldset>
						<!--</div>-->
						<div class="row">
							<div class="col-md-3">
								<a href="javascript:history.back()"  class="btn btn-primary">CANCELAR</a>
							</div>
							<div class="col-md-3">
								<button type="submit" class="btn btn-primary">SALVAR</button>
							</div>		
						</div>	
					</form>
    			</div>
			</div>
		</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/table-bootsnip.js"></script>
	</body>
</html>