<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gerência de eventos e convites</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/all.css" >
	<!-- favicon -->
	<link rel="shortcut icon" href="images/logo-amaerj.jpg" /> 
</head>

	<body>
		<% include ../menu.ejs%>
		<div class="container">
			<div class="row">
        		<div class="col-md-12">
              		<form action="/eventos/salvar" method="post" name="formsalvar">
              			<div class="row">
	              			<div class="form-group">
	    						
	              				<%if(evento.length > 0){%>
	              					<h2>Editar Evento</h2>
	              					<br>
	              					<label for="evento_nome">Nome</label>
		              				<input class="form-control form-control-lg" type="text" name ="nome" id="evento_nome" value="<%= evento[0].nome %>">
			              			
			              			<label for="evento_data">Data</label>
			              			<input class="form-control form-control-lg" type="text" name ="data" id="evento_data" value="<%= evento[0].data %>">
			              			
			              			<label for="evento_hora">Hora</label>
			              			<input class="form-control form-control-lg" type="text" name ="hora" id="evento_hora" value="<%= evento[0].hora %>">
			              			
			              			<label for="evento_endereco">Endereço</label>
			              			<input class="form-control form-control-lg" type="text" name ="endereco" id="evento_endereco" value="<%= evento[0].endereco %>">
			              			<input type="hidden" name="id" value="<%= evento[0].id %>">
	              				<%} else{%>
	              					<h2>Novo Evento</h2>
	              					<br>
	              					<label for="evento_nome">Nome</label>
		              				<input class="form-control form-control-lg" type="text" name ="nome" id="evento_nome">
			              			
			              			<label for="evento_data">Data</label>
			              			<input class="form-control form-control-lg" type="text" name ="data" id="evento_data">
			              			
			              			<label for="evento_hora">Hora</label>
			              			<input class="form-control form-control-lg" type="text" name ="hora" id="evento_hora">
			              			
			              			<label for="evento_endereco">Endereço</label>
			              			<input class="form-control form-control-lg" type="text" name ="endereco" id="evento_endereco">
	              				<%}%>
		              			<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<a href="javascript:history.back()"  class="btn btn-primary">CANCELAR</a>
							</div>
							<div class="col-md-3">
								<button type="submit" class="btn btn-primary">SALVAR</button>
							</div>		
						</div>	
					</form>
    			</div>
			</div>
		</div>
		
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/table-bootsnip.js"></script>
	</body>
</html>