<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EDIÇÃO Gerência de eventos e convites</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/all.css" >
	<!-- favicon -->
	<link rel="shortcut icon" href="images/logo-amaerj.jpg" />
</head>

	<body>
		<% include menu.ejs%>
		<div class="container">
			<div class="row">
				<%if(tupla != null){%>
        		<div class="col-md-12">
			        <h4><%= tablename %></h4>
			        <div class="table-responsive">
              		<form action="/update" method="post">
              			<table id="mytable" class="table table-bordred table-striped">
                   			<thead>
				                <th>Tratamento</th>
			                    <th>Nome</th>
			                </thead>    
			                <tbody>
								<tr>
								    <td><input type="text" name ="tratamento" value="<%= tupla[0].tratamento %>" placeholder="TRATAMENTO"></td>
								    <td><input type="text" name ="nome" value="<%= tupla[0].nome %>" placeholder="NOME"></td>
								</tr>
							</tbody>
							
							<thead>
                   				<th>Cargo</th>
				                <th>Email</th>
			                    <th>Telefone</th>
			                </thead>
			                <tbody>
			                	<tr>
		                	 		<td><input type="text" name ="cargo" value="<%= tupla[0].cargo %>" placeholder="CARGO"></td>
						    		<td><input type="text" name ="email" value="<%= tupla[0].email %>" placeholder="EMAIL"></td>
							    	<td><input type="text" name ="telefone" value="<%= tupla[0].telefone %>" placeholder="TELEFONE"></td>
							   	</tr>
			                </tbody>

			                <thead>
                   				<th>CEP</th>
				                <th>Situacao</th>
			                    <th>Sexo</th>
			                </thead> 
			                <tbody>
			                	<tr>
			                		<td><input type="text" name ="cep" value="<%= tupla[0].cep %>" placeholder="CEP>"></td>
								    <td><input type="text" name ="situacao" value="<%= tupla[0].situacao %>" placeholder="SITUAÇÃO"></td>
								    <td><input type="text" name ="sexo" value="<%= tupla[0].sexo %>" placeholder="SEXO"></td>
								</tr>   
			                </tbody>   
		                      	
                   			<thead>
    							<th>Endereço</th>
    							<th></th>
    							<th></th>
    						</thead>
    						<tbody>
    							<input type="hidden" name="id" value="<%= tupla[0].id %>">
								<input type="hidden" name="tablename" value="<%= tablename %>">
    							<tr>
							   		<td>
								   		<textarea rows="6" cols="80" name="endereco"><%= tupla[0].endereco %></textarea>
							   		</td>
							   		<td>
										<a href="javascript:history.back()"  class="btn btn-primary">CANCELAR</a>
									</td>
									<td>
							    		<button type="submit" class="btn btn-primary">SALVAR</button>
									</td>
								</tr>
    						</tbody>
							
						</table>
					</form>
        			</div>
    			</div>
    			<%}%>
			</div>
		</div>
		
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/table-bootsnip.js"></script>
	
	</body>
</html>