<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
	<title>Gerência de eventos e convites</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/all.css" >
	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />
</head>
<body>
	<% include menu.ejs%>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form action="/filtrar" method="post" id="formlistagem">
					<select id="tables" name="tables">
						<%if(tbn==null){%>
							<option selected="selected" disabled="true" value="-1">Selecione</option>
							<% for(var k = 0; k < tables.length; k++) {%>
								<option value='<%= tables[k] %>'><%= tables[k] %></option>		
							<% } %>

						<%}else{%>
							<option selected="selected" disabled="false" value="<%= tbn %>"><%= tbn %></option>
							<% for(var k = 0; k < tables.length; k++) {%>
								<%if(tables[k]!=tbn){%>
									<option value='<%= tables[k] %>'><%= tables[k] %></option>		
								<%}%>
							<% } %>						
						<%}%>
					</select>
				</form>
			</div>
		</div>
		<form action="/convidados" method="post" id="formconvidados">
			<%if(listagem != null){%>
				<div class="row">
	        		<div class="col-md-12">
	        			<div class="jumbotron jumbotron-fluid">
				        	<a href="/novo?tablename=<%=listagem[0].tipo%>" class="btn btn-primary">INSERIR NOVO +</a>
		        		</div>
				    </div>
				</div>    		
	    		<div class="w-100"></div>
	    		<div class="row">
	    			<div class="col-md-4">
		        		PESQUISAR:<input type="text" id="myInput" style="max-width:200px" />
		        	</div>
		        	<div class="col-md-4">
			        	<select id="meusEventos">
							<option selected="selected" disabled="true" value="-1">Selecione o evento</option>		
							<% for(var k = 0; k < eventoscadastrados.length; k++) {%>
								<option value='<%= eventoscadastrados[k].id %>'><%= eventoscadastrados[k].nome %></option>		
							<% } %>
						</select>
					</div>
					<div class="col-md-4">
		        		<input id="submitselecionaveis" type="submit" disabled="true" value="CONFIRMAR SELEÇÃO" class="btn btn-primary">
		        	</div>
	    		</div>
		        <div class="table-responsive">
	      			<table id="mytable" class="table table-bordred table-striped">
	           			<thead>
	           				<th><input type="checkbox" id="checkall" /></th>
			                <th>Tratamento</th>
		                    <th>Nome</th>
	                     	<th>Cargo</th>
	                     	<th>Email</th>
	                     	<th>Telefone</th>
	                     	<!--<th>CEP</th>-->
	                     	<!--<th>Endereço</th>-->
	                     	<!--<th>Sexo</th>-->
	                     	<!--<th>Situação</th>-->
	                      	<th>Editar</th>
	                       	<th>Remover</th>
	           			</thead>
						<tbody id="mytable_body">
							<% for(var i = 0; i < listagem.length; i++) {%>
								<tr>
									<td id="idtd<%= listagem[i].id %>"><input value="<%= listagem[i].id %>" type="checkbox" class="checkthis" name="selecionados"/></td>
								    <td><%= listagem[i].tratamento %></td>
								    <td><%= listagem[i].nome %></td>
								    <td><%= listagem[i].cargo %></td>
								    <td><%= listagem[i].email %></td>
								    <td><%= listagem[i].telefone %></td>
								    <!--<td><%= listagem[i].cep %></td>-->
								    <!--<td><%= listagem[i].endereco %></td>-->
								    <!--<td><%= listagem[i].sexo %></td>-->
								    <!--<td><%= listagem[i].situacao %></td>-->
								    <td>
								    	<a href="/editar?id=<%=listagem[i].id%>&tablename=<%=listagem[0].tipo%>">
								    		<span class="fas fa-edit" style="cursor: pointer;"></span>
								    	</a>
								    </td>
								    <td>
								    	<a href="/remover?id=<%=listagem[i].id%>&tablename=<%=listagem[0].tipo%>">
								    		<span class="fas fa-trash" style="cursor: pointer; color:red">
								    	</a>
								    </td>
								</tr>
								
							<%}%>
							<input type="hidden" name="statuscheckbox" id="idStatuscheckbox" >
							<input type="hidden" name="idtable" id="idtable" value="<%=listagem[0].tipo%>">
							<input type="hidden" name="idevento" id="idevento" >
							<!--<input type="hidden" name="idlinha" id="idlinha" >-->
						</tbody>
					</table>
				</div>
			<%}%>
		</form>
	</div>
	<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/table-bootsnip.js"></script>
</body>
</html>