<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<title>Gerência de eventos e convites</title>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- incluindo css -->
	<link href="css/style.css" rel="stylesheet">

	<!-- favicon -->
	<link rel="shortcut icon" href="images/logo.png" />
</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" />
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/show">BASE DE DADOS</a></li>
						<li><a href="/eventos">EVENTOS</a></li>
						<li><a href="/eventos">LISTAS DE CONVIDADOS</a></li>
						<li><a href="/eventos">AGENDA PRESIDENTE</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<form action="/filtrar" method="post">
						<select name="tables">
							<option selected="selected" disabled="true">Selecione</option>		
							<% for(var k = 0; k < tables.length; k++) {%>
								<option value='<%= tables[k] %>'><%= tables[k] %></option>		
							<% } %>
						</select>
						<input type="submit" value="Pesquisar por tipo" >	
					</form>
				</div>
			</div>
			<%if(listagem != null){%>
				<div class="row">
	        		<div class="col-md-12">
	        			<div class="jumbotron jumbotron-fluid">
				        	<div class="col-md-6">
					        		<h3><%= listagem[0].tipo %></h3>
				        	</div>
				        	<div class="col-md-4">
					        	<select id="meusEventos">
									<option selected="selected" disabled="true" value="-1">Selecione o evento</option>		
									<% for(var k = 0; k < eventoscadastrados.length; k++) {%>
										<option value='<%= eventoscadastrados[k].id %>'><%= eventoscadastrados[k].nome %></option>		
									<% } %>
								</select>
							</div>
				        	<div class="col-md-2">
				        		<a href="/novo?tablename=<%=listagem[0].tipo%>" class="btn btn-primary">INSERIR NOVO +</a>
				        	</div>
		        		</div>
				    </div>
				</div>    		
	    		<div class="w-100"></div>
	    		<div class="row">
	    			<div class="col-md-12">
		        		Pesquisar<input type="text" id="myInput" style="max-width:200px" />
		        	</div>
	    		</div>
		        <div class="table-responsive">
	      			<table id="mytable" class="table table-bordred table-striped">
	           			<thead>
	           				<th>Convidar</th>
			                <th>Tratamento</th>
		                    <th>Nome</th>
	                     	<th>Cargo</th>
	                     	<th>Email</th>
	                     	<th>Telefone</th>
	                     	<th>CEP</th>
	                     	<th>Endereço</th>
	                     	<th>Sexo</th>
	                     	<th>Situação</th>
	                      	<th>Editar</th>
	                       	<th>Remover</th>
	           			</thead>
						<tbody id="mytable_body">
							<% for(var i = 0; i < listagem.length; i++) {%>
								<tr>
									<form action="/convidar" method="post" name="btn_convidar">
										<input type="hidden" id="idEvento" name="eventoSelecionado">
										<input type="hidden" id="idPessoa" name="pessoaSelecionada" value="<%=listagem[i].id %>">
										<input type="hidden" id="tableName" name="tabelaSelecionada" value="<%=listagem[i].tipo %>">
									    <td><button type="submit" class="btn btn-primary">Convidar</button></td>
									</form>
								    <td><%= listagem[i].tratamento %></td>
								    <td><%= listagem[i].nome %></td>
								    <td><%= listagem[i].cargo %></td>
								    <td><%= listagem[i].email %></td>
								    <td><%= listagem[i].telefone %></td>
								    <td><%= listagem[i].cep %></td>
								    <td><%= listagem[i].endereco %></td>
								    <td><%= listagem[i].sexo %></td>
								    <td><%= listagem[i].situacao %></td>
								    <td>
								    	<a href="/editar?id=<%=listagem[i].id%>&tablename=<%=listagem[0].tipo%>" class="btn btn-primary">editar</a>
								    </td>
								    <td>
								    	<form action="/remover" method="post">
								    		<input type="hidden" name="id" value="<%=listagem[i].id%>">
								    		<input type="hidden" name="tipo" value="<%=listagem[i].tipo%>">
									    	<button type="submit" class="btn btn-primary">
									    		<span class="glyphicon glyphicon-trash"></span>
									    	</button>
								    	</form>
								    </td>
								</tr>
							<%}%>
						</tbody>
					</table>
				</div>
			<%}%>
		</div>
	

	    
<!-- JQuery -->
<script src="js/jquery-2.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/table-bootsnip.js"></script>
	
	</body>
</html>