<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<title>Gerência de eventos e convites</title>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- incluindo css -->
	<link href="css/style.css" rel="stylesheet">

	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />
</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" />
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/show">HOME</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form action="/filtrar" method="post">
						<select name="tables">
							<option selected="selected" disabled="true">Selecione</option>		
							<% for(var k = 0; k < tables.length; k++) {%>
								<option value='<%= tables[k] %>'><%= tables[k] %></option>		
							<% } %>
						</select>
						<input type="submit" value="Pesquisar por tipo" >	
					</form>
				</div>
				<%if(listagem != null){%>
        		<div class="col-md-12">
        			<div class="jumbotron jumbotron-fluid">
  						<div class="container">
    						<div class="row">
					        	<div class="col-md-9">
					        		<h3><%= listagem[0].tipo %></h3>
					        	</div>
					        	<div class="col-md-3">
					        		<a href="/novo?tablename=<%=listagem[0].tipo%>" class="btn btn-primary">INSERIR NOVO +</a>
					        	</div>
			        		</div>
			        		<div class="w-100"></div>
			        		<div class="w-100"></div>
			        		<div class="row">
			        			<form action="/buscar" method="post" name=formbuscar>
						        	<div class="col-md-2">
						        		<input type="text" name="buscanome" placeholder="Buscar por nome">
						        	</div>
						        	<div class="col-md-2">
						        		<input type="text" name="email" placeholder="Buscar por email">
						        	</div>
						        	<input type="hidden" name="tipo" value="<%= listagem[0].tipo %>" placeholder="Buscar por email">
						        	<div class="col-md-2">
						        		<button type="submit" class="btn btn-primary">PESQUISAR</button>
						        	</div>
					        	</form>
			        		</div>
  						</div>
					</div>
			        		
			        <hr>
			        <div class="table-responsive">
              			<table id="mytable" class="table table-bordred table-striped">
                   			<thead>
                   				<th><input type="checkbox" id="checkall" /></th>
				                <th>Tratamento</th>
			                    <th>Nome</th>
		                     	<th>Cargo</th>
		                     	<th>Email</th>
		                     	<th>Telefone</th>
		                     	<th>CEP</th>
		                     	<th>Endereço</th>
		                     	<th>Sexo</th>
		                     	<th>Situação</th>
		                      	<th>Editar</th>
		                       	<th>Remover</th>
                   			</thead>
    						<tbody>
								<% for(var i = 0; i < listagem.length; i++) {%>
									<tr>
									    <td><input type="checkbox" class="checkthis" /></td>
									    <td><%= listagem[i].tratamento %></td>
									    <td><%= listagem[i].nome %></td>
									    <td><%= listagem[i].cargo %></td>
									    <td><%= listagem[i].email %></td>
									    <td><%= listagem[i].telefone %></td>
									    <td><%= listagem[i].cep %></td>
									    <td><%= listagem[i].endereco %></td>
									    <td><%= listagem[i].sexo %></td>
									    <td><%= listagem[i].situacao %></td>
									    <td>
									    	<a href="/editar?id=<%=listagem[i].id%>&tablename=<%=listagem[0].tipo%>" class="btn btn-primary">editar</a>
									    </td>
									    <td>
									    	<form action="/remover" method="post">
									    		<input type="hidden" name="id" value="<%=listagem[i].id%>">
									    		<input type="hidden" name="tipo" value="<%=listagem[i].tipo%>">
										    	<button type="submit" class="btn btn-primary">
										    		<span class="glyphicon glyphicon-trash"></span>
										    	</button>
									    	</form>
									    </td>
									</tr>
								<%}%>
    						</tbody>
						</table>
        			</div>
    			</div>
    			<%}%>
			</div>
		</div>

	    
<!-- JQuery -->
<script src="js/jquery-2.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/table-bootsnip.js"></script>
	
	</body>
</html>